.BalaoDicaCriarContaCorpo {
    position: absolute;

    top: 128%; 
    right: -60px;   
    
    background-color: var(--CorFundoBalaoDica);

    color: white;
    padding: 10px 16px;
    border-radius: 12px;
    font-size: 22px;
    font-weight: bold;
    white-space: nowrap;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1999;
    pointer-events: none;

    animation: pulsarVerde 2s infinite;
    
}

/* ✨ A Seta (Triângulo) apontando para CIMA no canto DIREITO */
.BalaoDicaCriarContaCorpo::after {
    content: "";
    position: absolute;
    
    bottom: 100%; 
    right: 102px;  
    
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent var(--CorFundoBalaoDica) transparent; 
}

/* 🌀 Brilho no Botão */
.Botao-Acao-Visitante-Perfil.pulsar-ativo {
    animation: pulsarVerde 2s infinite;
    border: 2px solid var(--CorFundoBalaoDica);
}

@keyframes pulsarVerde {
    0% { box-shadow: 0 0 0 0 var(--CorFundoBalaoDica); }
    70% { box-shadow: 0 0 0 10px rgba(37, 211, 102, 0); }
    100% { box-shadow: 0 0 0 0 rgba(37, 211, 102, 0); }
}